# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# Alembic & DB
alembic/versions/__pycache__/
students.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs & secrets
*.log
.env